html {
  height: 100%;
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  font-family: sans-serif;
}

section {
  height: 100%;
  background: #fff;
}

header {
  position: relative;
  padding: 0;
  height: 5rem;
  background-color: #f44336;
  color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.fixed {
  position: absolute;
  width: 100%;
}

menu {
  height: 100%;
  float: right;
  margin: 0;
  padding: 0;
}

button {
  position: relative;
  display: block;
  overflow: hidden;
  float: left;
  min-width: 5rem;
  height: 5rem;
  border: none;
  background: none;
  margin: 0;
  padding: 0 1rem;
  border-radius: 0;
  color: rgba(0, 0, 0, 0.6);
}

button:active,
button:hover {
  background-color: rgba(0, 0, 0, 0.07);
}

button[disabled] {
  opacity: 0.3;
  pointer-events: none;
}

button::-moz-focus-inner {
  outline: none;
  border: none;
  margin-top: -0.2rem;
  padding: 0;
}

h1 {
  font-size: 2.3rem;
  line-height: 5rem;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 0;
  padding: 0 1rem;
  height: 100%;
  font-weight: lighter;
}

article {
  height: calc(100% - 5rem);
  top: 5rem;
}

.scrollable {
  overflow-x: hidden;
  overflow-y: scroll;
  box-sizing: border-box;
  position: relative;
}

.content {
  padding: 1.5rem;
}

.content h2 {
  font-size: 2rem;
  margin: 0;
}

.content p {
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: justify;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
}

.content p:last-of-type {
  margin-bottom: 0;
}

.content p img {
  width: 1.2rem;
  height: 1.2rem;
}

progress {
  width: 100%;
  height: 0.3rem;
  border: none;
  border-radius: 0.3rem;
  display: block;
  background: #f4f4f4 url('../img/ui/activity.png') repeat;
  background-size: auto 100%;
  animation: 0.4s move infinite steps(15);
}

progress::-moz-progress-bar {
  background: #01c5ed;
  border-radius: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  width: 100%;
  min-height: 6rem;
  box-sizing: border-box;
  border-bottom: solid 0.1rem #e7e7e7;
  color: #333;
  margin: 0;
  padding: 0 1.5rem;
  display: block;
  position: relative;
}

li.active {
  background-color: rgba(0, 213, 255, 0.3);
}

li:last-child {
  border: none;
}

li p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border: none;
  margin: 0;
  color: #858585;
  font-size: 1.5rem;
  line-height: 2rem;
}

li p:first-of-type {
  white-space: pre-wrap;
  font-size: 1.8rem;
  line-height: 2.2rem;
  color: #333;
  padding: 1rem 0 0;
}

li p.error {
  color: red;
}

li p time {
  margin-right: 0.3rem;
  text-transform: uppercase;
}

.CodeMirror {
  font-size: 1.5rem;
  height: 100%;
}

.CodeMirror pre.CodeMirror-placeholder {
  color: #999;
}
