html {
  height: 100%;
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  font-family: sans-serif;
}

section {
  height: 100%;
  background: #fff;
}

header {
  position: relative;
  padding: 0;
  height: 5rem;
  background-color: #f44336;
  color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

menu {
  height: 100%;
  float: right;
  margin: 0;
  padding: 0;
}

button {
  position: relative;
  display: block;
  overflow: hidden;
  float: left;
  min-width: 5rem;
  height: 5rem;
  border: none;
  background: none;
  margin: 0;
  padding: 0 1rem;
  border-radius: 0;
  color: rgba(0, 0, 0, 0.6);
}

button:active, button:hover {
  background-color: rgba(0, 0, 0, 0.07);
}

button[disabled] {
  opacity: 0.3;
  pointer-events: none;
}

button::-moz-focus-inner {
  outline: none;
  border: none;
  margin-top: -0.2rem;
  padding: 0;
}

h1 {
  font-size: 2.3rem;
  line-height: 5rem;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 0;
  padding: 0 1rem;
  height: 100%;
  font-weight: lighter;
}

article {
  height: calc(100% - 5rem);
  top: 5rem;
}

.CodeMirror {
  font-size: 1.5rem;
  height: 100%;
}

.CodeMirror pre.CodeMirror-placeholder {
  color: #999;
}
